<div id="master">
  <section class="side-nav">
    <div class="top-icon">
      <i class="fab fa-twitter icon"></i>
    </div>
    <nav>
      <ul>
        <li><a class="home-blue" href="#"><i class="icon fas fa-home"></i>ホーム</a></li>
        <li><a href="#"><i class="icon fas fa-hashtag"></i>話題を検索</a></li>
        <li><a href="#"><i class="icon far fa-bell"></i>通知</a></li>
        <li><a href="#"><i class="icon far fa-envelope"></i>メッセージ</a></li>
        <li><a href="#"><i class="icon far fa-bookmark"></i>ブックマーク</a></li>
        <li><a href="#"><i class="icon fas fa-stream"></i>リスト</a></li>
        <li><a href="#"><i class="icon far fa-user"></i>プロフィール</a></li>
        <li><a href="#"><i class="icon fas fa-ellipsis-h"></i>もっと見る</a></li>
      </ul>
    </nav>
    <button class="side-btn">ツイートする</button>
  </section>
  <div>
    <h2>Home</h2>
    <div class="contents row">
      <%= form_tag('/tweets', method: :post) do %>
        <textarea cols="30" name="text" placeholder="いまどうしてる？" rows="10"></textarea>
        <br/>
        <input type="submit" value="ツイートする">
      <% end %>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="contents row" >
        <div class="name3">投稿者:<%= link_to tweet.user.username, user_path(tweet.user), method: :get %></div>
        <div class="name2">投稿日時:<%= tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
        <div class="name2"><%= link_to '詳細', tweet_path(tweet), method: :get %></div>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <div class="name2">
            <%= link_to '編集', edit_tweet_path(tweet), method: :get %>
          </div>
          <div class="name2">
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </div>
        <% end %>
        <div class="name3"><%= simple_format(tweet.text) %></div>
      </div>
    <% end %>
  </div>
  <section class="side-right">
  <div class="side-right-contents">
    <form action="">
      <input type="text" placeholder="キーワード検索" id="search">
    </form>
    <div class="rcm">
      <h1>おすすめツイート</h1>
      <div class="rcm-contents">
        <div class="rcm-content">
          <div class="rcm-img">
            <img src="../img/panda.jpg" alt="" width="100%" class="top-img">
          </div>
          <div class="rcm-name">
            <h2>WWF</h2>
            <p>@wwf</p>
          </div>
          <button class="skelton">フォロー</button>
        </div>
      </div>
    </div>
    <div class="trend">
      <h1>いまどうしてる？</h1>
      <div class="trend-contents">
        <div class="trend-content">
          <p>日本のトレンド</p>
          <h2>台風発生</h2>
          <p>5572件のツイート</p>
        </div>
      </div>
    </div>  
  </div>
  </section>
</div>