<div id="master">
  <section class="side-nav">
    <div class="top-icon">
      <%= link_to tweets_path, method: :get do %><i class="fab fa-twitter icon"></i><% end %>
    </div>
    <nav>
      <ul>
        <li><a class="home-blue" href=""><i class="icon fas fa-home"></i>ホーム</a></li>
        <li><a href="#"><i class="icon fas fa-hashtag"></i>話題を検索</a></li>
        <li><a href="#"><i class="icon far fa-bell"></i>通知</a></li>
        <li><a href="#"><i class="icon far fa-envelope"></i>メッセージ</a></li>
        <li><a href="#"><i class="icon far fa-bookmark"></i>ブックマーク</a></li>
        <li><a href="#"><i class="icon fas fa-stream"></i>リスト</a></li>
        <li><%= link_to user_path(@user), method: :get do %><i class="icon far fa-user"></i>プロフィール<% end %></li>
        <li><a href="#"><i class="icon fas fa-ellipsis-h"></i>もっと見る</a></li>
      </ul>
    </nav>
    <button class="side-btn">ツイートする</button>
  </section>


  <div class="home-center">
    <div class="tweets-title">
      <p>ホーム</p>
    </div>
    <div class="tweet">
        <div class="user-icon">
          <img src="/assets/boxicon.png">
        </div>
        <div class="tweet-contents">
          <div class="tweet-top">
            <%= link_to @tweet.user.username, user_path(@tweet.user), method: :get, class: 'user-name' %>
            <%= @tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
          <div class="tweet-text">
            <%= simple_format(@tweet.text) %>
          </div>
          <div class="tweet-options">
            <%= link_to tweet_path(@tweet), method: :get do %>
              <i class="far fa-comment"></i>
            <% end %>
            <% if user_signed_in? && current_user.id == @tweet.user_id %>
              <%= link_to edit_tweet_path(@tweet), method: :get do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to "/tweets/#{@tweet.id}", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
            <div>
              <% if !Like.find_by(user_id: @user.id, tweet_id: @tweet.id) %>
                <%= link_to likes_create_path(tweet_id: @tweet.id), method: "post" do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to likes_destroy_path(tweet_id: @tweet.id), method: "post" do %>
                <i class="fas fa-heart fa-red"></i>
                <% end %>
              <% end %>
              <% if Like.where(tweet_id: @tweet.id).count != 0 %>
                <span><%= Like.where(tweet_id: @tweet.id).count %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <div class="contents row">
      <h2>コメント一覧</h2>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="tweet">
            <div class="user-icon">
              <img src="/assets/boxicon.png">
            </div>
            <div class="tweet-contents">
              <div class="tweet-top">
                <%= link_to @tweet.user.username, user_path(@tweet.user), method: :get, class: 'user-name' %>
                <%= @tweet.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
              <div class="tweet-text">
                <%= simple_format(@tweet.text) %>
              </div>
              <div class="tweet-options">
                <%= link_to tweet_path(@tweet), method: :get do %>
                  <i class="far fa-comment"></i>
                <% end %>
                <% if user_signed_in? && current_user.id == @tweet.user_id %>
                  <%= link_to edit_tweet_path(@tweet), method: :get do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                  <%= link_to "/tweets/#{@tweet.id}", method: :delete do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
                <div>
                  <% if !Like.find_by(user_id: @user.id, tweet_id: @tweet.id) %>
                    <%= link_to likes_create_path(tweet_id: @tweet.id), method: "post" do %>
                    <i class="far fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to likes_destroy_path(tweet_id: @tweet.id), method: "post" do %>
                    <i class="fas fa-heart fa-red"></i>
                    <% end %>
                  <% end %>
                  <% if Like.where(tweet_id: @tweet.id).count != 0 %>
                    <span><%= Like.where(tweet_id: @tweet.id).count %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <br/>


      <% if current_user %>
        <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
          <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
          <br/>
          <input type="submit" value="コメントの投稿">
        <% end %>
      <% end %>
    </div>
  </div>


  <section class="side-right">
  <div class="side-right-contents">
    <form action="">
      <input type="text" placeholder="キーワード検索" id="search">
    </form>
    <div class="rcm">
      <h1>おすすめツイート</h1>
      <div class="rcm-contents">
        <div class="rcm-content">
          <div class="rcm-img">
            <img src="#" alt="" width="100%" class="top-img">
          </div>
          <div class="rcm-name">
            <h2>WWF</h2>
            <p>@wwf</p>
          </div>
          <button class="skelton">フォロー</button>
        </div>
      </div>
    </div>
    <div class="trend">
      <h1>いまどうしてる？</h1>
      <div class="trend-contents">
        <div class="trend-content">
          <p>日本のトレンド</p>
          <h2>台風発生</h2>
          <p>5572件のツイート</p>
        </div>
      </div>
    </div>  
  </div>
  </section>
</div>