<div id="login_page">
  <h2>ログイン</h2>
  <hr>
  <i class="fab fa-twitter" ></i>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="new_user">
      <%= f.email_field :email, autofocus: true, placeholder: 'Eメール', autocomplete: "email" %>
    </div>

    <div class="field">
      <br>
      <%= f.password_field :password, placeholder: 'パスワード' ,autocomplete: "current-password" %>
    </div>

    <div class="df">
      <div class="field">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :保存する %>
          </div>
        <% end %>
    </div>

    <div id="login" class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  
</div>
<hr>
<div>
  <%= render "devise/shared/links" %>
</div>  
  
<!-- <br><br><br><br><br>
      <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
      <label for="user_remember_me">保存する</label>
      </div>
      <a href="/users/password/new" id="forgetps">パスワードを忘れた場合はこちら</a><br />
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="ログイン" data-disable-with="Log in" id="login" class="inp"/>
    

  

  <hr>
  <div class="last">
    <p class="p-last">アカウントをお持ちでない場合</p>
    <a href="sign-up.html">アカウントを作成</a><br />
  </div>
  -->